/* comment in css is different than in HTML*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    display: flex;
    width: 1588px;
    height: 1032px;
    flex-direction: column;
    align-items: flex-start;
}

header {
    display: flex;
    height: 256px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    color: #000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {

}

footer {
    display: flex;
    height: 120px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    Content
    
    
}